---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostList from "../../components/PostList.astro";
import { getCollection } from "astro:content";

const posts = (
  await getCollection("posts", ({ data }) => {
    return data.draft !== true;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout
  title="記事一覧"
  description="ブログ記事一覧です。"
  currentPage="Posts"
>
  <h1 class="mb-8 text-3xl font-bold">記事一覧</h1>
  <PostList posts={posts} isDraft={false} />
</BaseLayout>
