---
import { SITE_TITLE } from '../consts'

const headerItems = [
  {
    name: 'Posts',
    href: '/posts',
    target: '_self',
  },
  {
    name: 'About',
    href: '/about',
    target: '_self',
  },
  {
    name: 'Twitter',
    href: 'https://twitter.com/reona_5',
    target: '_blank',
  },
  {
    name: 'GitHub',
    href: 'https://github.com/reona5',
    target: '_blank',
  },
]
---

<header class="max-w-4xl m-auto">
  <a href="/" class="mx-6 absolute text-2xl">{SITE_TITLE}</a>
  <nav class="flex justify-end m-6">
    <ul class="flex justify-end text-lg">
      {
        headerItems.map(item => (
          <li>
            <a href={item.href} target={item.target} class="p-2">
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
