---
import { SITE_TITLE } from '../consts'
import { Image } from '@astrojs/image/components'

const headerItems = [
  {
    name: 'Posts',
    href: '/posts',
    target: '_self',
  },
  {
    name: 'About',
    href: '/about',
    target: '_self',
  },
]
---

<header class="max-w-4xl m-auto">
  <a href="/" class="py-2 m-8 absolute text-2xl">{SITE_TITLE}</a>
  <nav class="flex justify-end p-8">
    <ul class="flex justify-end text-lg">
      {
        headerItems.map(item => (
          <li class="p-2">
            <a href={item.href} target={item.target}>
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
