@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;

  &:has(#menu-dialog) {
    overflow: hidden;
  }
}

body {
  @apply bg-white text-gray-700 transition-colors ease-out dark:bg-gray-900 dark:text-gray-300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply scroll-mt-14 sm:scroll-mt-16;
}

a:hover {
  @apply text-black dark:text-white;
}

figure[data-rehype-pretty-code-figure] {
  overflow: hidden;
  border-radius: 0.5rem;

  & pre {
    overflow-x: auto;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    border-radius: 0 0 4px 4px;
  }

  & code {
    display: grid;
  }

  .line {
    padding-left: 0.5rem;
    padding-right: 0.75rem;
    border-left-width: 4px;
    border-left-color: transparent;
  }

  .line--highlighted {
    border-left-color: rgb(104 168 255 / 0.7);
    background-color: rgb(204 205 235 / 0.1);
  }
}

figcaption[data-rehype-pretty-code-title] {
  border-radius: 4px 4px 0 0;
  background-color: rgb(50 50 50 / 0.9);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.15rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #c9d1d9;
}

code[data-line-numbers] {
  counter-reset: lineNumber;

  .line::before {
    counter-increment: lineNumber;
    content: counter(lineNumber);
    display: inline-block;
    text-align: right;
    margin-right: 0.75rem;
    width: 1rem;
    color: rgb(255 255 255 / 0.2);
  }
}

.headings-anchor-link {
  display: inline-block;
  margin-right: 5px;

  &:hover {
    color: #659ad2;
  }

  > svg {
    block-size: auto;
    max-inline-size: 100%;
  }
}

.toc-list {
  @apply pl-0;

  .toc-list-item {
    @apply m-0 list-none border-l-2 border-gray-200 py-0.5 pl-3 transition-colors ease-out dark:border-gray-700;

    &:is(.is-collapsed, .is-collapsible > *) {
      &:first-child {
        @apply mt-2;
      }

      &:last-child {
        @apply mb-2;
      }
    }

    &:has(.is-active-link) {
      @apply border-current;
    }

    .toc-link {
      @apply font-normal no-underline;
    }

    .is-active-link {
      @apply font-bold;
    }

    .is-collapsed,
    .is-collapsible {
      @apply m-0;
    }
  }
}
