---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";

const posts = (
  await getCollection("posts", ({ data }) => {
    return data.draft !== true;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const tags = [...new Set(posts.map((post) => post.data.tags).flat())]
  .map((tag) => {
    return {
      name: tag,
      posts: posts.filter((post) => post.data.tags.includes(tag)),
    };
  })
  .sort((a, b) => b.posts.length - a.posts.length);
---

<BaseLayout title="タグ一覧" description="タグ一覧です。" currentPage="Tags">
  <h1 class="mb-8 text-3xl font-bold">タグ一覧</h1>
  <div class="flex flex-wrap">
    {
      tags.map((tag) => (
        <p class="m-2 rounded-md border bg-gray-50 p-1 text-sm dark:bg-black dark:text-white">
          <a href={`/tags/${tag.name}`}>
            {tag.name} ({tag.posts.length})
          </a>
        </p>
      ))
    }
  </div>
</BaseLayout>
