---
import Layout from "@layouts/About.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<Layout title="このサイトについて" description={SITE_DESCRIPTION}>
  <h2>筆者について</h2>
  <p>
    1994年5月生まれ。第一三共株式会社にて MR として数年勤めたのち、Web
    サービスの開発に興味を持ち2019年8月にキャリアチェンジしました。
  </p>
</Layout>
