---
const footerItems = [
  {
    name: "RSS",
    href: "/rss.xml",
    imagePath: "/rss-icon.svg",
  },
  {
    name: "Twitter",
    href: "https://twitter.com/reona_5",
    imagePath: "/twitter-icon.svg",
  },
  {
    name: "GitHub",
    href: "https://github.com/reona5",
    imagePath: "/github-black-icon.svg",
  },
] as const;
const today = new Date();
---

<footer class="m-auto flex max-w-4xl justify-between p-8">
  <p>
    &copy; {today.getFullYear()} Reona Shimada.
  </p>
  <nav>
    <ul class="flex gap-4 p-0">
      {
        footerItems.map((item) => (
          <li>
            <a href={item.href} target="_blank" rel="noreferrer">
              <img
                src={item.imagePath}
                width={24}
                height={24}
                alt={`${item.name} icon`}
                loading="lazy"
                decoding="async"
              />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>
