---
import { Image } from "astro:assets";
import rssIcon from "../assets/rss-icon.png";
import twitterIcon from "../assets/twitter-icon.png";
import githubIcon from "../assets/github-black-icon.png";

const headerItems = [
  {
    name: "RSS",
    href: "/rss.xml",
    imagePath: rssIcon,
  },
  {
    name: "Twitter",
    href: "https://twitter.com/reona_5",
    imagePath: twitterIcon,
  },
  {
    name: "GitHub",
    href: "https://github.com/reona5",
    imagePath: githubIcon,
  },
];
const today = new Date();
---

<footer class="flex justify-between max-w-4xl m-auto p-8">
  <p>
    &copy; {today.getFullYear()} Reona Shimada.
  </p>
  <nav>
    <ul class="flex p-0 gap-4">
      {
        headerItems.map((item) => (
          <li>
            <a href={item.href} target="_blank">
              {item.imagePath ? (
                <Image
                  src={item.imagePath}
                  width={24}
                  alt={`${item.name} icon`}
                />
              ) : (
                item.name
              )}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>
