---
import { SITE_TITLE } from "../consts";
const headerItems = [
  { name: "Posts", href: "/posts" },
  { name: "About", href: "/about" },
] as const;
export type HeaderItem = (typeof headerItems)[number]["name"];
export type Props = { currentPage?: HeaderItem };

const { currentPage } = Astro.props;
type Item = (typeof headerItems)[number]["name"];
const isCurrent = (item: Item) => item === currentPage;
const ariaCurrent: { "aria-current": "page" | undefined } = {
  "aria-current": "page",
};
---

<header class="m-auto max-w-4xl">
  <a href="/" class="absolute m-8 text-xl">{SITE_TITLE}</a>
  <nav class="flex justify-end p-8">
    <ul class="flex justify-end gap-4 text-lg">
      {
        headerItems.map((item) => (
          <li>
            <a
              {...(isCurrent(item.name) && ariaCurrent)}
              href={item.href}
              class={isCurrent(item.name) ? "underline" : undefined}
            >
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
