---
---

<script>
  const menu = document.getElementById("menu");
  const dialog = document.getElementById("dialog");
  if (menu === null || dialog === null)
    throw new Error("Menu element is invisible.");

  menu.addEventListener("click", function () {
    menu.classList.toggle("expanded");
    dialog.classList.toggle("hidden");
  });
</script>

<div class="sm:hidden">
  <button
    id="menu"
    class="grid h-5 w-10 items-center justify-center bg-transparent"
    aria-label="メニュー"
  >
    <span
      id="upper-line"
      class="h-0.5 w-6 origin-center bg-gray-800 transition-all ease-out dark:bg-white"
    ></span>
    <span
      id="lower-line"
      class="h-0.5 w-6 origin-center bg-gray-800 transition-all ease-out dark:bg-white"
    ></span>
  </button>
  <div
    id="dialog"
    class="absolute right-5 hidden rounded-lg bg-gray-50 p-6 shadow-lg dark:bg-black dark:text-white"
  >
    <slot />
  </div>
</div>

<style>
  #menu.expanded #upper-line {
    transform: translateY(5px) rotate(45deg);
  }

  #menu.expanded #lower-line {
    transform: translateY(-5px) rotate(-45deg);
  }
</style>
