---
import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";
import aboutImage from "../assets/placeholder-about.jpg";

export type Props = { title: string; description: string };
const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description} currentPage="About">
  <section class="prose max-w-none dark:prose-invert">
    <Image src={aboutImage} alt="" width={850} height={478} class="pb-8" />
    <h1 class="dark:bg-gray-900 dark:text-white">{title}</h1>
    <p>
      <a href="/">reona.dev</a> は Astro + Vercel によって作成されています。<a
        href="https://twitter.com/reona_5"
        target="_blank"
        rel="noreferrer">Reona Shimada</a
      > のプログラミングに関する学びや日々の出来事を発信するウェブサイトです。
    </p>
    <hr />
    <slot />
  </section>
</BaseLayout>
