---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostList from "@components/PostList.astro";
import { getCollection } from "astro:content";

const posts = (
  await getCollection("posts", ({ data }) => {
    return data.draft === true;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout
  title="下書き一覧"
  description="下書き一覧です。"
  currentPage="Drafts"
>
  <h1 class="mb-8 text-3xl font-bold">下書き一覧</h1>
  <PostList posts={posts} isDraft={true} />
</BaseLayout>
